<!--registration/login.html-->
{% extends 'base.html' %}
{% load static %}

{% block page_title%}
WBCUSA | Login
{% endblock%}

{% block body_class %}
gray-bg
{% endblock %}

{% block nav_status%}
display:none
{% endblock %}

{% block pagewrapper_status%}
display:none
{% endblock %}


{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="{% static 'img/blacklogo_nobackground.svg' %}" width="200" height="300">
            </div>
            <form class="m-t" method="post" action="{% url 'login'%}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper" style="margin-top: 5px">
                        {{field.errors}}
                        {{field}}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary btn-sm btn-block" value="Login" style="margin-top:40px">
            </form>
            <a href="{% url 'social:begin' 'github' %}" class="btn btn-sm btn-white btn-block" style="margin-top:2px">Login with GitHub</a>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
            <p class="text-muted text-center" style="margin-top:20px; margin-bottom:5px"><small> Do not have an account? </small></p>
            <a href="{% url 'register'%}" class="btn btn-sm btn-white btn-block">Create an account</a>

            <p class="m-t"> <small>WellBuildingControl LLC &copy; 2021</small> </p>

        </div>
    </div>
{% endblock %}


