<!--users/templates/registration/password_reset_confirm.html-->
{% extends 'base.html' %}

{% block page_title%}
WBCUSA | PasswordResetConfirm
{% endblock%}

{% block body_class %}
gray-bg
{% endblock %}

{% block nav_status%}
display:none
{% endblock %}

{% block pagewrapper_status%}
display:none
{% endblock %}


{% block body %}
    <div class="large-box loginscreen  animated fadeInDown" style="margin-left: 50px">
        <div>
            <h2>Confirm password reset</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-sm btn-white" type="submit" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}