<!--users/templates/registration/password_reset_form.html-->
{% extends 'base.html' %}

{% block page_title%}
WBCUSA | PasswordReset
{% endblock%}

{% block body_class %}
gray-bg
{% endblock %}

{% block nav_status%}
display:none
{% endblock %}

{% block pagewrapper_status%}
display:none
{% endblock %}


{% block body %}
    <div class="large-box loginscreen  animated fadeInDown" style="margin-left: 50px">
        <div>
            <h2>Send password reset link to:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-sm btn-white" style="width: 150px" type="submit" value="Reset">
            </form>
            <a class="btn btn-sm btn-white" href="{% url 'dashboard'%}" style="margin-top: 10px; width: 150px">Back to Dashboard</a>
        </div>
    </div>
{% endblock %}