<!--users/templates/registration/password_reset_done.html-->
{% extends 'base.html' %}

{% block page_title%}
WBCUSA | PasswordResetDone
{% endblock%}


{% block body_class %}
gray-bg
{% endblock %}

{% block nav_status%}
display:none
{% endblock %}

{% block pagewrapper_status%}
display:none
{% endblock %}


{% block body %}
    <div class="large-box loginscreen  animated fadeInDown" style="margin-left: 50px">
        <div>
            <h2>Password reset done</h2>
            <a class="btn btn-sm btn-white" href="{% url 'login' %}">Back to login</a>
        </div>
    </div>
{% endblock %}