{% extends 'base.html' %}
{% load static %}


{% block nav_status%}
display:block
{% endblock %}

{% block page_css %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css'%}" rel="stylesheet">
<link href="{% static 'css/plugins/select2/select2.min.css'%}" rel="stylesheet">
{% endblock %}

{% block pagewrapper_status%}
display:block
{% endblock %}

{% block pagecontent %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'profile'%}">
                <div class="widget lazur-bg p-xl">
                    <h2>{{user.username|default:'Guest'}}</h2>
                    <ul class="list-unstyled m-t-md">
                        <li>
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Email:</label>
                            {{user.email|default:'abc@edf.com'}}
                        </li>
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>Address:</label>
                            {{user.address|default:'Unknown'}}
                        </li>
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Contact:</label>
                            {{user.phone|default:'(111)111-1111'}}
                        </li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-sm-8">
            <form method="POST" enctype="multipart/form-data" id="datatable_form">
                {% csrf_token %}
                <label>File Upload</label>
                <input name="file" class="form-control" type="file">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered table-hover">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="font-normal">Select variables</label>
                        <div>
                            <select data-placeholder="Choose variables" id="data_selector" class="form-control" multiple="multiple">
                                <option value="ambient_temp">Ambient Temperature</option>
                                <option value="zone_temp">Zone Temperature</option>
                                <option value="fan_speed">Fan Speed</option>
                                <option value="internal_gain">Internal Gain</option>
                                <option value="hvac_power">HVAC Power</option>
                                <option value="solar_rad">Solar Radiation</option>
                            </select>
                        </div>
                        <label class="font-normal">Select plot</label>
                        <div>
                            <select data-placeholder="Choose plot" id="plot_selector" class="form-control">
                                <option value="multiline" selected>Multi-Line</option>
                                <option value="scatter_3d">Scatter 3D</option>
                                <option value="heat_map">Heat Map</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" id="hour_data_submit" style="margin-top: 10px">Submit</button>
                    </div>
                    <div style="" class="ibox-content" id="canvas">
                        <div class="empty-spinner" style="height:100%; display: none;">
                            <div class="sk-spinner sk-spinner-fading-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'js/plugins/iCheck/icheck.min.js'%}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

    <!-- jquery UI -->
    <script src="{% static 'js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>

    <!-- Touch Punch -->
    <script src="{% static 'js/plugins/touchpunch/jquery.ui.touch-punch.min.js'%}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js'%}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js'%}"></script>

    <!-- SELECT2 Plugin -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js'%}"></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>

    <!-- Data table plugin -->
    <script src="{% static 'js/plugins/dataTables/datatables.min.js'%}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Flot -->
    <script src="{% static 'js/plugins/flot/jquery.flot.js'%}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js'%}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.resize.js'%}"></script>

    <!-- Custom Code -->
    <script src="{%static 'js/draw.js'%}"></script>
    <script type="text/javascript">
        var target_id;
        var setting = {};
        var data = {};
        var chart_data = {}

        //activate select2
        $('#data_selector').select2();
        $('#plot_selector').select2();

        $('#hour_data_submit').click(function(){
            //get the selected variables
            var selected_data = $("#data_selector").val()
            if(selected_data.length > 3){
                alert("Select Three variable!!!")
            }else{
                //need to confirm that the date time column name is 'DateTime'
                setting["keys"] = selected_data;
                setting["app"] = "hourlydata";
                setting["start"] = "2021/07/28";
                setting["end"] = "2021/09/21";
                setting["visual"] = $('#plot_selector').val()
                draw(setting, 'canvas', 'Default title','', window.location.pathname)
            }
        });

        $('#datatable_form').submit(function(e){
            e.preventDefault();
            $form = $(this)
            let formData = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type:'POST',
                data: formData,
                processData: false,
                cache: false,
                contentType:false,
                success: function(response){
                    if(response['status'] === 'success'){
                        let data = JSON.parse(response['data'])
                        //'model' will need to be revised when the actual program
                        //is coded
                        let valueAtIndex1 = data['model']
                        //table head
                        var body = "<thead><tr>";
                        for(const headerKey in data){
                            body += "<th>" + headerKey + "</th>"
                        }
                        body += "</tr></thead><tbody>"

                        for(const key in valueAtIndex1) {
                            //this is the header
                            body += "<tr>"
                            for (const headerKey in data) {
                                body += "<td>" + data[headerKey][key] + "</td>"
                            }
                            body += "</tr>"
                        }
                        body += "</tbody>"

                        $("#data-table").append(body)
                    }
                    $("#data-table").dataTable({
                        pageLength: 10,
                        responsive: true,
                        buttons: [
                            {extend: 'copy'},
                            {extend: 'csv'},
                            {extend: 'excel', title: 'DataFile'},
                            {extend: 'print',
                                customize: function(win){
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size','10px');
                                    $(win.document.body).find('table').addClass('compact').css('font-size','inherit');
                                }
                            }
                        ]
                    });
                }
            })
        })
    </script>
{% endblock %}



